<div class="loader-wrapper">
  <span class="loader"><span class="loader-inner"></span></span>
</div>

<script>
  $(window).on("load",function (){
    $(".loader-wrapper").fadeOut("slow");
  });
</script>

<div class="icon">
  <img src="assets/logo/malig.svg" alt="">
</div>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/1111.png" class="d-block w-100 " alt="...">
      <div class="carousel-caption d-none d-sm-block">
        <h1>OUR BUSINESS</h1>
        <h3>บริษัท มะลิโรด คอร์เปอเรชั่น จำกัด เป็นบริษัท Start up ที่จัดตั้งขึ้นในปี 2022</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/111.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-sm-block">
        <h1>OUR BUSINESS</h1>
        <h3>บริษัท มะลิโรด คอร์เปอเรชั่น จำกัด เป็นบริษัท Start up ที่จัดตั้งขึ้นในปี 2022</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/222.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-sm-block">
        <h1>OUR BUSINESS</h1>
        <h3>บริษัท มะลิโรด คอร์เปอเรชั่น จำกัด เป็นบริษัท Start up ที่จัดตั้งขึ้นในปี 2022</h3>
      </div>
    </div>
  </div>
</div>

<div class="nextpage">
  xx
</div>

<div class="update">
  <h2>APPLICATION DEVELOPMENT</h2>
  <p>แอพลิเคชั่นที่เราพัฒนา</p>
</div>

<!--<div class="pj-1">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <img src="assets/logo/langka.svg" alt="...">-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <h6>LANGKA AMULET</h6>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->

<div class="topic-2">
  <h2>OUR COMPANY</h2>
  <div class="move-vdo">
    <video width="100%" height="auto" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="assets/video/TEST/TEST/ourcompany.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/logo/MALI%20MOST.svg" alt="">
      </div>
      <div class="col-sm">
        <img src="assets/logo/MALI%20FOOD%20&%20BEVERAGE.svg" (click)="goto()">
      </div>
      <div class="col-sm">
        <img src="assets/logo/MALI%20PHARMACY.svg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="nextpage-2">
  xx
</div>

<div class="topic-3">
  <h2>OUR BRAND</h2>
  <div class="move-vdo">
    <video width="100%" height="auto" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="assets/video/TEST/TEST/brandmaliroad.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/logo/MALI%20CAFE.svg" alt="" (click)="gocafe()">
      </div>
      <div class="col-sm">
        <img src="assets/logo/MAOMALI.svg" alt="" (click)="gomao()">
      </div>
      <div class="col-sm">
        <img src="assets/logo/MALI%20GLOW.svg" alt="" (click)="gogrow()">
      </div>
    </div>
  </div>
</div>

<div class="nextpage-2">
  xx
</div>

<div class="topic-4">
  <h2>VISION & MISSION</h2>
  <h4>วิสัยทัศน์และพันธกิจ</h4>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>VISION</h2>
        <p>" มุ่งมั่นสู่การเป็นผู้นำ สร้างสรรค์ธุรกิจ <br>
          เพื่อแบ่งปันคุณภาพชีวิตที่ดีให้แก่ผู้บริโภคอย่างยั่งยืน " </p>
      </div>
    </div>
  </div>
  <div class="move-vdo">
    <video  width="100%" height="auto" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="assets/video/TEST/TEST/missionmaliroad.mp4" type="video/mp4">
    </video>
  </div>
  <div class="motto-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>MISSION</h2>
        </div>
        <div class="col">
          <img src="assets/images/motto.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer">
  <!-- Copyrights -->
  <div class="footer-copyright">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">© MaliRoadCorporation CompanyLimited,  2022</p>
    </div>
  </div>
</footer>
